.route-specific-color-wrapper {
  width: 100vw;
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;

  .navbar-wrapper-box{
   
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(.5rem);
    z-index: 100;
    // display: none;
  }

  .children-wrapper-box{
    // margin-top: 3rem;
    flex: 1;
    // background-color: yellow;
    // height: 500rem;
    
  }

  .footer-wrapper-start{
    width: 100%;
    height: 20rem;
    // background-color: green;
    background: linear-gradient(to bottom, rgba(1, 67, 69, 1),
    rgba(1, 34, 35, 1));
    margin-top: auto;
  }
}
