.raven-blog-hero-section-general-wrapper{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 6rem;
    .blog-and-article-p{
        width: 16rem;
        color: #0B8376;
        background-color: #E8FFF6;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        font-weight: 500;
        font-size: 1.5rem;
       
    }
    .blog-raven-resources{
        font-weight: 700;
        font-size: 4rem;
        color: #014345;
    }
    .blogs-wrapper-container{
        display: flex;
        flex-direction: row;
        gap: 4rem;
        border-bottom: .1rem solid #E3E3E3;
        padding-bottom: 2rem;
        @media only screen and (max-width:47.5rem){
            display: grid;
            grid-template-columns: repeat(3,1fr);
gap: 0;

        }
       
        p{
            height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2rem;
            width: 10rem;
            cursor: pointer;
            
            @media only screen and (max-width:47.5rem){
                width: 15rem;
                
            }
        }
        p:hover{
           background-color: #E8FFF6; 
        }

    }
    .raven-blog-image-header-body-mobile{
        display: none;
        @media only screen and (max-width:47.5rem){
            display: flex;
            flex-direction: column; 
            align-items: center;
            justify-content: center;
            gap: 3rem;
            
        }
        .blog-data-image {
      
            margin-bottom: 2rem;
            
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 1rem;
            }
          }
          .data-text-one{
                color: #020202;
                font-weight: 600;
                font-size: 2rem;
                line-height: 3rem;
                
          }
          .data-text-two{
            color: #020202;
            font-weight: 400;
            font-size: 1.2rem;
            margin-bottom: 2rem;
            margin-top: 2rem;
           
            
      }

    }

    }
    .raven-blog-image-header-body{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
@media only screen and (max-width:47.5rem){
    display: none;
    
}
        .blog-data-image {
      
            width: 32rem;
            margin-bottom: 2rem;
            
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 1rem;
            }
          }
          .data-text-one{
                color: #020202;
                font-weight: 600;
                font-size: 1.5rem;
                
          }
          .data-text-two{
            color: #020202;
            font-weight: 400;
            font-size: 1rem;
            margin-bottom: 2rem;
            margin-top: 2rem;
           
            
      }

    }
.blog-load-more{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6E5E5;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    cursor: pointer;
    width: 13rem;
    border-radius: 2rem;
    margin-bottom: 8rem;
}
