
@keyframes moveLeftTestimonies {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
.raven-users-container-holder{
    
    margin-top: 12rem;
    margin-bottom: 8rem;
    .raven-users-container-holder-first-inner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        
        .raven-users-container-holder-first-inner-mobile{
            display: none;
            @media only screen and (max-width: 47.5rem) {
               display: flex;
                flex-direction: column;
                gap: 2rem;

                .first-inner-p{
                    font-weight: 700;
                    font-size: 2.5rem;
                    color: #0B8376;
                    background-color: #E8FFF6;
                    padding: 1.5rem 1rem;
                    border-radius: 2rem;
                    width: 30rem;
                   
                }
                .second-inner-p{
                    font-weight: 700;
                    font-size: 2.5rem;
                }
                .third-inner-p{
                    font-weight: 400;
                    font-size: 1,5rem;
                    color: #0B8376;
                }
               
              }

        }
        .div-inner{
            @media only screen and (max-width: 47.5rem) {
                display: none;
               }
            .first-inner-p{
                font-weight: 700;
                font-size: 2.5rem;
               
            }
            .second-inner-p{
                font-weight: 400;
                font-size: 1.5rem;
                color: #676767;
                padding: 2rem .0rem;
                
            }
        }
        .arrow-holder-div{
            display: flex;
            flex-direction: row;
            gap: 2rem;
            @media only screen and (max-width: 47.5rem) {
               display: none;
              }
            .img-box{
                border: 0.1rem solid #CBCBCB;
                width: 4rem;
                height: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 1rem;
            img{
                width: 2rem;
                height: 2rem;
                
            }
            
            }


        }
    }
    .ajogi-data{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin-top: 8rem;
        gap: 2rem;
        transition: opacity .5s;
        @media only screen and (max-width: 47.5rem) {
            
            width: 100%;
            display: -webkit-inline-box;
              overflow-x: auto;
            //   -webkit-overflow-scrolling: touch;
              animation: moveLeftTestimonies 60s linear infinite backwards;
           }
      
        .ajogi-data-inner{
            display: flex;
            flex-direction: column;
            padding: 2rem;
            padding-bottom: 4rem;
            border-radius: 1rem;
           
            .drop-shadow {
                box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1); 
                
              }
              background-color: #FFFFFF;

              .img-box{
                width: 4rem;
                height: 4rem;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
              }
            
            .ajogi-data-name{
            color: #476885;
            font-weight: 700;
            font-size: 2rem;
            padding-bottom: 1rem;
            padding-top: 2rem;
            }.the-data{
                line-height: 2rem;
                font-size: 1.2rem;
            }
        }
        }
    }
