.privacy-policy-body-wrap {
   
    .general-size-wrap{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding-bottom: 4rem;
  .policies-header-p-tag {
    font-size: 2.5rem;
    font-weight: 600;
    color: #020202;
    padding-top: 4rem;
  }
  .link-a-and-paragraphs-general-wrap {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    .links-holder-box {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      
    }
    .articles-holder-box {
        .articles{
            display: flex;
            flex-direction: column;
            gap: 4rem;
       .article-header{
        font-size: 2.5rem;
        font-weight: 600;
        color: #020202;
        padding-bottom: 2rem;
       }
      .article-body-wrap {
        border: .1rem solid #E5E6E6;
        border-radius: 1.2rem;
        .article-body {
          word-wrap: break-word;
          overflow-wrap: break-word;
         padding: 2rem;
         line-height: 2.5rem;
         color: #676767;
          
       
        }
      }
    }
  }
}
}}