.careers-hero-section-general-wrap {
  display: flex;
  background-color: #ffffff;
  min-height: 100vh;
  position: relative;
}
.careers-hero-section-general-wrap .general-size-wrap {
  display: flex;
  background-image: url("../../../assets/careersAssets//background_strokes.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 47.5em) {
  .careers-hero-section-general-wrap .general-size-wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../../assets/careersAssets//background_strokes.png");
    background-size: cover;
  }
}
.careers-hero-section-general-wrap .general-size-wrap .career-image-holder-mobile {
  display: none;
}
@media only screen and (max-width: 47.5em) {
  .careers-hero-section-general-wrap .general-size-wrap .career-image-holder-mobile {
    display: flex;
  }
}
@media only screen and (max-width: 47.5em) {
  .careers-hero-section-general-wrap .general-size-wrap .career-image-holder-mobile .box-mobile {
    width: 33.3333333333%;
    min-height: 35rem;
    border-radius: 10rem;
    position: relative;
    overflow: hidden;
  }
}
.careers-hero-section-general-wrap .general-size-wrap .career-image-holder-mobile .box-left-mobile {
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-20%);
  background-color: #fff6ed;
}
.careers-hero-section-general-wrap .general-size-wrap .career-image-holder-mobile .box-left-mobile .bottom-box {
  background-image: url("../../../assets/careersAssets/goodVibes.png");
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 9rem;
}
@media only screen and (max-width: 47.5em) {
  .careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left .careers-p-tag {
  width: 9rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ea872d;
  background-color: #fff6ed;
  border-radius: 1.2rem;
  font-size: 1.5rem;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left .join-the-team {
  font-weight: 700;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #0b8376;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left .no-egos-here {
  color: #676767;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin-bottom: 4rem;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left .hanging-job-roles {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin-top: 5rem;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left .hanging-job-roles .hanging-job-roles-roles-one {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 2rem;
  border-radius: 1.2rem;
  transform: rotate(8deg);
  margin-left: 10rem;
  width: 30rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 47.5em) {
  .careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left .hanging-job-roles .hanging-job-roles-roles-one {
    transform: none;
    margin: 0;
  }
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left .hanging-job-roles .hanging-job-roles-roles-one .available-job-role-contents {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left .hanging-job-roles .hanging-job-roles-roles-one .available-job-role-contents .available-job-role {
  font-weight: 600;
  font-size: 1.8rem;
  color: #000000;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left .hanging-job-roles .hanging-job-roles-roles-one .available-job-role-contents .available-job-location {
  font-weight: 400;
  font-size: 1.3rem;
  color: #676767;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left .hanging-job-roles .hanging-job-roles-roles-one .available-job-role-contents .job-status {
  color: #1ace37;
  background-color: #e8fff6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 1.2rem;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left .hanging-job-roles .hanging-job-roles-roles-one .available-job-role-contents .job-company {
  color: #0b8376;
  font-size: 1.3rem;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left .hanging-job-roles-roles-two {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1.5rem;
  border-radius: 1.2rem;
  transform: rotate(-8deg);
  width: 30rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 47.5em) {
  .careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left .hanging-job-roles-roles-two {
    transform: none;
  }
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left .hanging-job-roles-roles-two .available-job-role-contents {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left .hanging-job-roles-roles-two .available-job-role-contents .available-job-role {
  font-weight: 600;
  font-size: 1.8rem;
  color: #000000;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left .hanging-job-roles-roles-two .available-job-role-contents .available-job-location {
  font-weight: 400;
  font-size: 1.3rem;
  color: #676767;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left .hanging-job-roles-roles-two .available-job-role-contents .job-status {
  color: #1ace37;
  background-color: #e8fff6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 1.2rem;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left .hanging-job-roles-roles-two .available-job-role-contents .job-company {
  color: #0b8376;
  font-size: 1.3rem;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left .hanging-job-roles-roles-three {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 2rem;
  border-radius: 1.2rem;
  width: 30rem;
  margin-left: 10rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 47.5em) {
  .careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left .hanging-job-roles-roles-three {
    transform: none;
    margin: 0;
  }
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left .hanging-job-roles-roles-three .available-job-role-contents {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left .hanging-job-roles-roles-three .available-job-role-contents .available-job-role {
  font-weight: 600;
  font-size: 1.8rem;
  color: #000000;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left .hanging-job-roles-roles-three .available-job-role-contents .available-job-location {
  font-weight: 400;
  font-size: 1.3rem;
  color: #676767;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left .hanging-job-roles-roles-three .available-job-role-contents .job-status {
  color: #1ace37;
  background-color: #e8fff6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 1.2rem;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-left .hanging-job-roles-roles-three .available-job-role-contents .job-company {
  color: #0b8376;
  font-size: 1.3rem;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  padding: 3rem;
}
@media only screen and (max-width: 47.5em) {
  .careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-right {
    display: none;
  }
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-right .box {
  width: 25%;
  min-height: 35rem;
  border-radius: 10rem;
  position: relative;
  overflow: hidden;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-right .box .top-box {
  width: 60%;
  height: 40%;
  position: absolute;
  top: 0;
  left: 20%;
  background-image: url("../../../assets/careersAssets/circleoval.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-right .box .middle-box {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/careersAssets/wings.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 101;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-right .box .bottom-box {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../../../assets/careersAssets/Rectangle 2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-right .box-top {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-20%);
  background-color: #fff6ed;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-right .box-top .bottom-box {
  background-image: url("../../../assets/careersAssets/goodVibes.png");
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-right .box-right {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) translateX(45%);
  height: 50rem;
  background-color: #e9f5ff;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-right .box-right .bottom-box {
  background-image: url("../../../assets/careersAssets/halfSideMan.png");
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-right .box-left {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) translateX(-45%);
  height: 40rem;
  background-color: #e8fff6;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-right .box-bottom {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-4%);
  height: 40rem;
  background-color: #f0eeff;
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-right .box-bottom .bottom-box {
  background-image: url("../../../assets/careersAssets/lowcutLady.png");
}
.careers-hero-section-general-wrap .general-size-wrap .careers-hero-section-right .box-bottom .top-box {
  background-image: url("../../../assets/careersAssets/groupoval.png");
  height: 50%;
  width: 100%;
  left: -0.5rem;
}/*# sourceMappingURL=heroSectionIndex.css.map */